*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tab-header {
    width: 100%;
    padding: 20px;
    display:flex;
    /* flex-direction: column; */
    position: relative;
}

.tab-header-item {
    width: calc(100% / 4);
    color:#888;
    font-weight:600;
    cursor:pointer;
    font-size:14px;
    text-transform:uppercase;
    outline:none;
    padding: 20px;
    /* width: 100px; */
    z-index: 99;
}

.tab-indicator {
    position: absolute;
    width: calc(100% / 4);
    height:100%;
    background: #00acee;
    left: 0px;
    border-radius: 5px;
    transition: all 500ms ease-in-out;
}